<h2 class="text-center">Shop By Category!</h2>
<section class="container">
  <section class="row">
{{#each categories as |category|}}
<section class="card shadow d-flex mx-auto p-3 col-10 col-lg-3 col-md-6 col-sm-10">
  <a href="/category/{{id}}">    
    <header class ="text-center cat-names">{{category_name}}</header>
     <div class="card-body">
    <img src="/images/{{category.filename}}" height="300" width="250">
  </a>
</section>
{{/each}}
  </section>
</section>
