<section class="container">
  <section class="d-flex">
{{#each categories as |category|}}
<section class="card d-flex mx-1">
  <a href="/category/{{id}}">    
    <header class ="text-center">{{category_name}}</header>
     <div class="card-body">
    <img src="/images/{{products.[0].filename}}" height="300" width="250">
  </a>
</section>
{{/each}}

      
<div class="w3-container w3-teal">
  <h1>Grocery City</h1>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="./images/01-product-beef.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Beef</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="./images/02-product-banana.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Bananas</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="./images/03-product-milk.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Milk</h5>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="./images/04-product-choCake.jpg" style="width:100%">
      <div class="w3-container">
        <h5>ChoCake</h5>
      </div>
    </div>
  </div>
