<div class="row">
  
  <div class="login-card col-md-6">
    <h2 class="page-title mb-3 fs-2 fw-bold">Login</h2>
    <form class="form login-form ">
      <div class="mb-3">
        <label for="Email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email-login">
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password-login">
        </div>
      <div class="form-group mb-3">
        <button class="btn btn-success" type="submit">login</button>
      </div>
    </form>
  </div>


  <div class="login-card col-md-6">
    <h2 class="page-title mb-3 fs-2 fw-bold">Signup</h2>
    <form class="form signup-form">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="username" class="form-control" id="username-signup">
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email-signup">
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password-signup">
        <p id="passwordHelp" class="form-text">Your password must have a minimum of 8 characters</p>
      </div>
      <div class="form-group  mb-3">
        <button class="btn btn-success" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>