<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{name}}!</h1>

    <h2><a href="/" class="text-decoration-none">Changing Password</a></h2>
    <h2><a href="/" class="text-decoration-none">Changing Email Address</a></h2>
    <h2><a href="/cart" class="text-decoration-none">View your cart</a></h2>
  </div>
</div>
<script src="/js/logout.js"></script>