<div class="d-flex flex-column justify-content-center text-center">
  <div class="profile">
    <h1>Welcome To Your Profile Page {{name}}!</h1>

    <p><a class="btn btn-success" role="button" href="/">Change your Password</a></p>
    <p><a class="btn btn-success" role="button" href="/">Change your Email Address</a></p>
    <p><a class="btn btn-success" role="button" href="/cart">View your cart</a></p>
    
    </div>
</div>
<script src="/js/logout.js"></script>