<section class="d-flex justify-center">
    <h1> Congrats {{name}} !</h1>
    <h2> You have successfully Cashed out !</h2>

    <section class="container">
        {{#each products}}
        <section class="card">
            {{ product_name }}
            {{ multiply_price price cart.quantity }}
        </section>
        {{/each}}
        {{ find_sum products }}
    </section>

</section>