<section class="d-flex justify-center flex-column text-center success">
    <h1> Congrats {{name}} !</h1>
    <h2> You have successfully Cashed out ! </h2>
    <h2> Your Order ID is: {{ make_orderID }} </h2>
</section>