*{
    box-sizing: border-box;
}


main {
    margin-top: 60px;
}

.space {
    margin-right: 30px;
}

img {
    max-width: 100%;
    height: auto;
  }

.success > * {
    margin-bottom: 30px;
}

.edit{
    width: 40px;
}

.custom-nav {
    background-color: greenyellow;
    color: white;
}

a{
    text-decoration: none;
}

ul li{
    margin: 10px;
}

.cart > *{
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cust-btn{
    color: black;
}

.cat-names{
    color: green;
}

.checkout > *{
    padding: 10px;
}

.total{
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.subtotal{
    font-size: 25px;
    color: green;
}