*{
    box-sizing: border-box;
}


main {
    margin-top: 60px;
}

.space {
    margin-right: 30px;
}

img {
    max-width: 100%;
    height: auto;
  }

.success > * {
    margin-bottom: 30px;
}

.edit{
    width: 40px;
}

.custom-nav {
    background-color: greenyellow;
    color: white;
}

a{
    text-decoration: none;
}

ul li{
    margin: 10px;
}

