*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif, Arial, Helvetica;
}

.logo{
    font-family: 'Playfair Display SC', serif, Arial, Helvetica, sans-serif;
    font-size: 30px;
}


main {
    margin-top: 60px;
}

.space {
    margin-right: 30px;
}

img {
    max-width: 100%;
    height: auto;
  }

.success > * {
    margin-bottom: 30px;
}

.edit{
    width: 40px;
}

.custom-nav {
    background-color: #36CA00;
    color: white;
}

a{
    text-decoration: none;
    font-size: 20px;
}

p, .quan{
    font-size: 20px;
}

ul li{
    margin: 10px;
}

.cart > *{
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cust-btn{
    color: black;
    background-color: #00AD30 ;
}

.cat-names{
    color: #62D65B;
}

.checkout > *{
    padding: 10px;
}

.total{
    font-size: 30px;
    font-weight: bold;
    color: #62D65B;
}

.subtotal{
    font-size: 25px;
    color: #62D65B;
}

.sold-out{
    color:lightgray;
    position: relative;
}

.sold-text{
    color: rgb(80, 79, 79);
    background-color: rgb(173, 173, 173);
    padding: 20px;
    opacity: .9;
}

.sold{
    opacity: 0.5;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prodQuantity{
    display: flex;
    width: 100%;
    margin-left: 10px;
}

footer{
    margin-top: 300px;
    background-color: #36CA00;
    padding: 30px;
    color: white;
}